<template>
  <div class="content">
    <section class="highlight">
      <div class="container">
        <carousel :perPage="1" class="carousel">
          <slide><my-video :sources="video.sources" :options="video.options" class="player"></my-video></slide>
          <slide><my-video :sources="video.sources" :options="video.options" class="player"></my-video></slide>
          <slide><my-video :sources="video.sources" :options="video.options" class="player"></my-video></slide>
          <slide><my-video :sources="video.sources" :options="video.options" class="player"></my-video></slide>
        </carousel>
      </div>
    </section>
    <section class="description">
      <div class="container">
        <div class="description-content">
          We design, prodice and deliver <b>brand content</b> across <b>all channels</b>, using the best talent, processes and tools.<br>
          The result? Seamless global execution of multiple content types across all markets, without compromising <b>creative quality</b>.
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import myVideo from 'vue-video';

export default {
    name: 'news_carousel',
    data () {
        return {
            video: {
                sources: [{
                    src: require('../assets/videos/video.mp4'),
                    type: 'video/mp4'
                }],
                options: {
                    volume: 0.6,
                    poster: require('../assets/videos/cover.png')
                }
            }
        }
    },
    components: {
      Carousel,
      myVideo, 
      Slide
    },
    
};
</script>

<style lang="scss">
  section { margin-bottom: 0px !important; }
  .carousel { padding: 20px; }
  .player { width: 100%; }
  .VueCarousel-dot-container {
    margin-top: 5px !important;

    .VueCarousel-dot { 
      margin-top: 0px !important; 
      padding: 0px !important; 
      margin: 0px 3px !important; 
      border: solid 1px #000 !important; 
      background-color: #fff !important;
      width: 8px !important;
      height: 8px !important;

      &.VueCarousel-dot--active { background-color: #000 !important; }
    }
  }

  .description {
    .description-content {
      padding: 0px 20px;
      text-align: left;
      font-size: 18px;
      line-height: 26px;
      b { color: #f7a8a8; }
    }
  }
  
</style>