<template>
  <div class="content contact">
    <div class="header">
      <div class="header-title">
        <span>\</span> CONTACT
        <span>US</span>
      </div>
    </div>
    <form id action>
      <div class="form-group">
        <b-field label="Name">
          <b-input
            required
            validation-message="Informe seu nome completo"
            pattern="[A-Za-z]+[\s][A-Za-z]+"
            v-model="contact.name"
          ></b-input>
        </b-field>
        <b-field label="Phone">
          <b-input
            type="text"
            v-mask="['(##) ####-####', '(##) #####-####']"
            required
            validation-message="Informe seu número de telefone favorito"
            v-model="contact.phone"
          ></b-input>
        </b-field>
        <b-field label="Email">
          <b-input type="email" required validation-message="Informe seu email completo" v-model="contact.email"></b-input>
        </b-field>
        <b-field label="Message">
          <b-input type="textarea" required validation-message="Este campo é obrigatório" v-model="contact.message"></b-input>
        </b-field>
        <b-button type="is-primary" class="btn-send" @click="send">Send</b-button>
      </div>
    </form>
    <b-modal :active.sync="isModalActive" scroll="keep">
      <div class="modal-card" style="width: 90%;">
        <header class="modal-card-head"><a class="close" @click="isModalActive = false"><i class="fas fa-times"></i></a></header>
        <section class="modal-card-body">
          <p>Thank you for <br>getting in touch.</p>
          <p>Have a great day!</p>
        </section>
        <footer class="modal-card-foot"></footer>
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { mask } from "vue-the-mask";
export default {
  name: "contact",
  mounted() {
    axios
      .get("http://5d2bb8ca8c90070014971dfe.mockapi.io/portfolios")
      .then(res => {
        for (let i in res.data) {
          res.data[i].img = this.images[res.data[i].id].img;
          res.data[i].color = "color:#" + res.data[i].color;
        }
        this.portfolios = res.data;
      });
  },
  data() {
    return {
      isModalActive: false,
      hasError: false,
      contact: {
        name: '',
        phone: '',
        email: '',
        messagem: ''
      }
    };
  },
  directives: { mask },
  methods: {
    send() { 
      if (document.getElementsByClassName('is-danger').length == 0) {
        if (
          this.contact.name != '' &&
          this.contact.phone != '' &&
          this.contact.email != '' &&
          this.contact.message != ''
        )
        // axios.post("http://5d2bb8ca8c90070014971dfe.mockapi.io/portfolios", this.contact).then( response => {
          this.isModalActive = true;
        // });
      } else {
        document.getElementsByClassName('is-danger').focus();
      }
    }
  }
};
</script>

<style lang="scss">
.contact {
  .header-title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 20px;
    text-transform: uppercase;
    span {
      color: #aeaeae;
      font-weight: normal;
    }
  }

  .form-group {
    text-align: left;
    font-weight: bold;
    margin: 0px 20px;

    label {
      margin-bottom: 0px;
      font-size: 13px;
      color: #4d2682;
    }
    .label:after {
      content: "\:";
    }
    .input,
    .textarea {
      border-color: #4d2682;
      font-size: 14px;

      &.is-danger {
        border-color: #ff3860;
      }
    }
    .help.counter {
      display: none !important;
    }
    .icon.has-text-danger {
      display: none !important;
    }
    p.help.is-danger {
      font-size: 10px;
      margin-top: 0px;
      text-transform: lowercase;
    }
    p.help.is-danger:before {
      content: "(";
    }
    p.help.is-danger:after {
      content: ")";
    }

    .btn-send {
      // max-width: 270px;
      width: 100%;
      margin: 10px 0px;
      background-color: #4d2682 !important;
      height: 3.25em;
      font-weight: bold;
      color: #fff !important;
      &:hover {
        background-color: #fff !important;
        color: #4d2682 !important;
        border-color: #4d2682 !important;
      }
    }
  }

  .modal-content {
    margin: 0px 0px !important;
    
    .modal-card { 
      margin: 0px auto !important; 
      
      .modal-card-head {
        background-color: #fff;
        text-align: right;
        padding: 15px;
        justify-content: right;
        border-bottom: unset;

        i {
          color: #8dc541;
          font-size: 22px;
        }
      }
      .modal-card-body {
        width: 100%;
        font-size: 20px;
        padding: 50px 0px;

        p { 
          line-height: 26px; 
          margin-bottom: 10px; 
        }
        p:last-of-type { color: #8dc541; font-weight: bold; }  
      }
      .modal-card-foot {
        height: 40px;
        background-color: #fff;
        border-top: unset;
      }
    }
  }
}
</style>