<template>
    <nav class="navbar" role="navigation" aria-label="main navigation" :class="{ 'is-active':menu_opened }">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="@/assets/images/svg/logo_prodigious.svg" width="112" height="28" />
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbar"
          @click="menuClick"
          :class="{ 'is-active':menu_opened }"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu" :class="{ 'is-active':menu_opened }">
        <div class="navbar-start">
          <a class="navbar-item" href="#home" @click="menuClick">Home</a>
          <a class="navbar-item" href="#portfolio" @click="menuClick">Portfolio</a>
          <a class="navbar-item" href="#contact" @click="menuClick">Contact</a>
          <a class="navbar-item" @click="menuClick">Our Network</a>
        </div>
      </div>
    </nav>
</template>

<script>
export default {
    name: 'navbar',
    data() {
        return {
            menu_opened: false
        }
    },
    methods: {
        menuClick() {
            this.menu_opened = !this.menu_opened;
        }
    },
};
</script>

<style lang="scss" scoped>
.navbar-brand {
  background-color: #e4e4e4;
}
.navbar-burger span {
  height: 2px;
  width: 23px;
}
.is-active {
  &.navbar { 
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    margin: 0px;
    padding: 0px;
    color: white;

    .navbar-brand {
      background-color: #000;

        .navbar-item {
            display: none;

        }
    }
  }
  &.navbar-burger {
    color: white;
  }

  &.navbar-menu {
    background-color: black;
    .navbar-item {
      color: #ebebeb;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px;
    }

    :hover {
      color: #b72d89;
      background-color: #000;
    }
  }
}
</style>