<template>
  <div class="permission">
    <p>This website uses cookies: <a href="#">read more</a></p>
    <b-button type="is-primary" class="btn-accept" @click="setCookie">Alright</b-button>
  </div>
</template>

<script>
export default {
    name: 'permission',
    methods: {
      setCookie() {
        this.$store.dispatch('cookie_accept');
      }
    },
};
</script>

<style lang="scss" scoped>
.permission {
  // display: none;
  position: fixed;
  bottom: 0px;
  background-color: rgba($color: #191919, $alpha: 0.9);
  padding: 20px;
  color: #fff;
  text-align: left;
  font-size: 13px;
  width: 100%;

  .btn-accept, p { opacity: 1; }
  .btn-accept {
    font-size: 13px;
    background-color: #fff;
    color: #b8b8b8;
    width: 40%;
    max-width: 150px;
    margin-top: 5px;
  }
}
</style>