<template>
  <div class="content portfolio">
    <div class="header">
      <div class="header-title">
        <span>\</span> Portfolio
      </div>
    </div>
    <b-collapse aria-id="portfolio" class="card" :open.sync="isOpen">
      <div
        slot="trigger"
        slot-scope="props"
        class="card-header portfolio"
        role="button"
        aria-controls="portfolio"
      >
        <p class="card-header-title">All</p>
        <a class="card-header-icon">
          <i v-if="props.open" class="fas fa-chevron-down"></i>
          <i v-else class="fas fa-chevron-up"></i>
        </a>
      </div>
      <div class="card-content">
        <div
          class="card-content-single"
          v-for="(portfolio, index) in portfolios"
          :key="'portfolios'+index"
        >
          <div class="card-content-single-thumbnail">
            <img :src="portfolio.img" />
          </div>
          <div class="card-content-single-title">
            <p class="card-content-single-title-text">{{ portfolio.title }}</p>
            <a class="card-content-single-title-icon">
              <i class="fas fa-plus" :style="portfolio.color"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <b-button :loading="isLoading" type="is-primary" class="btn-load" inverted outlined @click="loadMore">
          load more
        </b-button>
      </div>
    </b-collapse>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "portifolio",
  mounted() {
    axios
      .get("http://5d2bb8ca8c90070014971dfe.mockapi.io/portfolios")
      .then(res => {
        for (let i in res.data) {
          res.data[i].img = this.images[res.data[i].id].img;
          res.data[i].color = "color:#" + res.data[i].color;
        }
        this.emulateLazy = res.data;
      });
  },
  data() {
    return {
      isLoading: false,
      portfolios: [
        {
          id: "0",
          img: require("../assets/images/photos/photo1.png"),
          title: "Renault Sport",
          color: "cb3298"
        },
        {
          id: "1",
          img: require("../assets/images/photos/photo2.png"),
          title: "Toyota GT86 Special Edition",
          color: "f4861e"
        },
        {
          id: "2",
          img: require("../assets/images/photos/photo3.png"),
          title: "Nescafé",
          color: "8dc542"
        }
      ],
      emulateLazy: [
        {
          img: "",
          title: "",
          color: ""
        }
      ],
      images: [
        { img: require("../assets/images/photos/photo1.png") },
        { img: require("../assets/images/photos/photo2.png") },
        { img: require("../assets/images/photos/photo3.png") },
        { img: require("../assets/images/photos/photo4.png") },
        { img: require("../assets/images/photos/photo5.png") }
      ],
      isOpen: true
    };
  },
  methods: {
    loadMore() {
      this.isLoading = true;
      axios
        .get("http://5d2bb8ca8c90070014971dfe.mockapi.io/portfolios")
        .then(res => {
          this.portfolios.push(this.emulateLazy.pop());
          this.isLoading = false;
        });
    }
  }
};
</script>

<style lang="scss">
.portfolio {
  .header-title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 20px;
    text-transform: uppercase;
    span {
      color: #aeaeae;
      font-weight: normal;
    }
  }

  .card-header.portfolio {
    text-align: left;
    font-size: 20px;
    padding: 5px;
    background-color: #11b6e0;
    p {
      color: #fff;
      margin-bottom: 0px !important;
      font-weight: normal !important;
    }
  }

  .card-content {
    background-color: #000 !important;
    padding: 0px !important;

    .card-content-single-title {
      text-align: left;
      color: #fff;
      padding: 0px 20px 20px 20px;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      .card-content-single-title-text {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
      }
      .card-content-single-title-icon {
        -webkit-box-align: center;
        -ms-flex-align: center;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 5px;
      }
    }
  }

  .card-footer {
    background-color: #000 !important;
    border-top: 0px !important;
    text-align: center !important;
    padding-bottom: 30px !important;

    .btn-load {
      color: #0e9abe !important;
      border-color: #0e9abe !important;
      max-width: 270px;
      width: 90%;
      margin: 0px auto;
      height: 3.25em;
      font-weight: bold;

      &:hover {
        background-color: #0e9abe !important;
        color: #fff !important;
      }
    }
  }
}
</style>