<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>

#app {
  font-family: 'Gotham', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
