<template>
  <div class="home">
    <navbar/>
    <news-carousel id="home"/>
    <portifolio id="portfolio"/>
    <contact id="contact"/>
    <permission id="permission" v-if="!permission"/>
  </div>
</template>

<script>
// @ is an alias to /src
import navbar from '@/components/navbar.vue'
import news_carousel from '@/components/carousel.vue'
import portifolio from '@/components/portifolio.vue'
import contact from '@/components/contact.vue'
import permission from '@/components/permission.vue'

export default {
  name: 'home',
  components: {
    'navbar': navbar,
    'news-carousel': news_carousel,
    'portifolio': portifolio,
    'contact': contact,
    'permission': permission
  },
  computed: {
    permission: function () {
      return this.$store.getters.cookie_accepted
    }
  },
}
</script>
