@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived 
//    variables in _variables.scss
@import "variables";

// 2. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

@import "~bulma/sass/utilities/derived-variables";

// 3. Add new color variables to the color map.
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

@import "~bulma";
@import "~buefy/src/scss/buefy";

// 4. Provide custom buefy overrides and site styles here

@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-Bold.ttf') format('truetype'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-Book.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-LightItalic.ttf') format('truetype'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-MediumItalic.ttf') format('truetype'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-BookItalic.ttf') format('truetype'); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-BoldItalic.ttf') format('truetype'); font-weight: bold; font-style: italic; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-XLight.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-Light_1.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-Thin.ttf') format('truetype'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-Bold_1.ttf') format('truetype'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-BookItalic_1.ttf') format('truetype'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-ThinItalic.ttf') format('truetype'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'Gotham'; src: url('/assets/fonts/Gotham2/Gotham-XLightItalic.ttf') format('truetype'); font-weight: 300; font-style: italic; }
